<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Signin</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

	
    <!-- Bootstrap core CSS -->
<link href="{% static 'App1/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      
     
    .form-floating{
      text-align:left; }         

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{%static 'App1/css/signin.css' %}" rel="stylesheet">
     <script>    
    var check = function() {
      if (document.getElementById('pass').value ==
        document.getElementById('pass1').value) {
        document.getElementById('message').style.color = 'green';
        document.getElementById('message').innerHTML = 'Password Matching';
      } else {
        document.getElementById('message').style.color = 'red';
        document.getElementById('message').innerHTML = 'Password Not Matching';
      }
    }
</script>
  </head>
  <body class="text-center">
 
    
<main class="form-signin">

<h1 class="h3 mb-3 fw-normal">Please sign up.</h1>  
  <form method= "POST">

    <div class="form-floating">
     <label >User Id: </label>
      <input type="text" class="form-control" id="user_id" name= "user_id" placeholder="0XX_UniqueId">
    </div>
    <div class="form-floating">
    <label for="password">Password: </label>
      <input type="password" class="form-control" id="pass" name="passw" placeholder="Password" onkeyup='check();'>
      
    </div>
    
    
    <div class="form-floating">
    <label for="password">Re-enter Password: </label>
      <input type="password" class="form-control" id="pass1" placeholder="Password" onkeyup='check();'>
      <span id = 'message'></span>
    </div>
    {% if error %}
    	<p>{{ error }}</p>
	<a href="http://localhost:8000/signin">Already Registered? Please signin here. </a>
{% endif %}
    <button class="w-100 btn btn-lg btn-primary" type="submit" formaction="/">Sign up</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </form>
</main>

   


    
  </body>
</html>
