body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: monospace;
    color: #453c52;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
span {
    transition: color 0.2s ease, background 0.3s ease;
}

@media (min-width: 768px) {
    * {
        scrollbar-width: thin;
        scrollbar-color: #bfb8cc #fbfafc;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #fbfafc;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #bfb8cc;
        border-radius: 6px;
        border: 3px solid #fbfafc;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}


html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

hr {
    height: 0;
    color: inherit;
}

abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
pre,
samp {
    font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo,
        monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    text-indent: 0;
    border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
select {
    text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
}

::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

:-moz-focusring {
    outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
    box-shadow: none;
}

legend {
    padding: 0;
}

progress {
    vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

summary {
    display: list-item;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0;
}

button {
    background-color: transparent;
    background-image: none;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

fieldset,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
}

body {
    font-family: inherit;
    line-height: inherit;
}

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #f7f5fa;
}

hr {
    border-top-width: 1px;
}

img {
    border-style: solid;
}

textarea {
    resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #dfdae8;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    color: #dfdae8;
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #dfdae8;
}

[role="button"],
button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

code,
kbd,
pre,
samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        Liberation Mono, Courier New, monospace;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
/* video {
  display: block;
  vertical-align: middle;
} */
img,
video {
    max-width: 100%;
    height: auto;
}

* {
    --tw-shadow: 0 0 transparent;
    --tw-ring-inset: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
}


.visible {
    visibility: visible;
}

.static {
    position: static;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.right-0 {
    right: 0;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.top-20 {
    top: 5rem;
}

.-top-10 {
    top: -2.5rem;
}

.-left-1 {
    left: -0.25rem;
}

.z-0 {
    z-index: 0;
}

.z-10 {
    z-index: 10;
}

.z-50 {
    z-index: 50;
}

.z-20 {
    z-index: 20;
}

.m-3 {
    margin: 0.75rem;
}

.m-5 {
    margin: 1.25rem;
}

.m-4 {
    margin: 1rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.-my-2 {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.-mx-5 {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.ml-16 {
    margin-left: 4rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mr-1 {
    margin-right: 0.25rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-4 {
    margin-top: 1rem;
}


.mr-4 {
    margin-right: 1rem;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.ml-2 {
    margin-left: 0.5rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.ml-auto {
    margin-left: auto;
}

.ml-1 {
    margin-left: 0.25rem;
}

.ml-4 {
    margin-left: 1rem;
}

.-mt-12 {
    margin-top: -3rem;
}

.ml-0 {
    margin-left: 0;
}

.mb-20 {
    margin-bottom: 5rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mt-8 {
    margin-top: 2rem;
}

.mt-14 {
    margin-top: 3.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.table {
    display: table;
}

.grid {
    display: grid;
}

.contents {
    display: contents;
}

.hidden {
    display: none;
}

.h-auto {
    height: auto;
}

.h-5 {
    height: 1.25rem;
}

.h-0 {
    height: 0;
}

.h-40 {
    height: 10rem;
}

.h-10 {
    height: 2.5rem;
}

.h-64 {
    height: 16rem;
}

.h-full {
    height: 100%;
}

.h-16 {
    height: 4rem;
}

.h-2 {
    height: 0.5rem;
}

.h-1 {
    height: 0.25rem;
}

.h-8 {
    height: 2rem;
}

.h-36 {
    height: 9rem;
}

.h-4 {
    height: 1rem;
}

.h-12 {
    height: 3rem;
}

.h-3 {
    height: 0.75rem;
}

.min-h-screen {
    min-height: 100vh;
}

.w-3 {
    width: 0.75rem;
}

.w-11\/12 {
    width: 91.666667%;
}

.w-full {
    width: 100%;
}

.w-5 {
    width: 1.25rem;
}

.w-0 {
    width: 0;
}

.w-4 {
    width: 1rem;
}

.w-1\/4 {
    width: 25%;
}

.w-3\/4 {
    width: 75%;
}

.w-1\/2 {
    width: 50%;
}

.w-6 {
    width: 1.5rem;
}

.w-2 {
    width: 0.5rem;
}

.w-12 {
    width: 3rem;
}

.w-3\/6 {
    width: 50%;
}

.w-44 {
    width: 11rem;
}

.w-1\/5 {
    width: 20%;
}

.w-1\/3 {
    width: 33.333333%;
}

.w-10 {
    width: 2.5rem;
}

.min-w-full {
    min-width: 100%;
}

.max-w-5xl {
    max-width: 64rem;
}

.max-w-sm {
    max-width: 24rem;
}

.max-w-xl {
    max-width: 36rem;
}

.max-w-7xl {
    max-width: 80rem;
}

.max-w-xs {
    max-width: 20rem;
}

.max-w-md {
    max-width: 28rem;
}

.max-w-3xl {
    max-width: 48rem;
}

.flex-1 {
    flex: 1 1 0%;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-grow {
    flex-grow: 1;
}

.transform {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-90 {
    --tw-rotate: 90deg;
}

@-webkit-keyframes pulse {
    50% {
        opacity: 0.5;
    }
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}

.animate-pulse {
    -webkit-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.cursor-pointer {
    cursor: pointer;
}

.appearance-none {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-flow-row {
    grid-auto-flow: row;
}

.auto-rows-max {
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

.items-stretch {
    align-items: stretch;
}

.items-start {
    align-items: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.gap-4 {
    gap: 1rem;
}

.gap-1 {
    gap: 0.25rem;
}

.space-y-4> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-x-3> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.75rem * var(--tw-space-x-reverse));
    margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-6> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.space-x-4> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-1> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.space-x-5> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.25rem * var(--tw-space-x-reverse));
    margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.-space-x-px> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(-1px * var(--tw-space-x-reverse));
    margin-left: calc(-1px * calc(1 - var(--tw-space-x-reverse)));
}

.divide-y> :not([hidden])~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.divide-gray-200> :not([hidden])~ :not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: rgba(247, 245, 250, var(--tw-divide-opacity));
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
}

.truncate {
    overflow: hidden;
    white-space: nowrap;
}

.overflow-ellipsis,
.truncate {
    text-overflow: ellipsis;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.whitespace-pre-wrap {
    white-space: pre-wrap;
}

.rounded-md {
    border-radius: 0.375rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded {
    border-radius: 0.25rem;
}

.rounded-xl {
    border-radius: 0.75rem;
}

.rounded-l {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.rounded-r {
    border-bottom-right-radius: 0.25rem;
}

.rounded-r,
.rounded-t {
    border-top-right-radius: 0.25rem;
}

.rounded-t {
    border-top-left-radius: 0.25rem;
}

.rounded-b {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.rounded-b-none {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.border {
    border-width: 1px;
}

.border-2 {
    border-width: 2px;
}

.border-b {
    border-bottom-width: 1px;
}

.border-b-2 {
    border-bottom-width: 2px;
}

.border-t-2 {
    border-top-width: 2px;
}

.border-transparent {
    border-color: transparent;
}

.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgba(241, 237, 247, var(--tw-border-opacity));
}

.border-red-500 {
    --tw-border-opacity: 1;
    border-color: rgba(239, 68, 68, var(--tw-border-opacity));
}

.border-blue-500 {
    --tw-border-opacity: 1;
    border-color: rgba(59, 130, 246, var(--tw-border-opacity));
}

.border-green-500 {
    --tw-border-opacity: 1;
    border-color: rgba(16, 185, 129, var(--tw-border-opacity));
}

.border-yellow-500 {
    --tw-border-opacity: 1;
    border-color: rgba(245, 158, 11, var(--tw-border-opacity));
}

.border-indigo-500 {
    --tw-border-opacity: 1;
    border-color: rgba(99, 102, 241, var(--tw-border-opacity));
}

.border-purple-500 {
    --tw-border-opacity: 1;
    border-color: rgba(139, 92, 246, var(--tw-border-opacity));
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgba(247, 245, 250, var(--tw-border-opacity));
}

.border-gray-900 {
    --tw-border-opacity: 1;
    border-color: rgba(69, 60, 82, var(--tw-border-opacity));
}

.border-gray-500 {
    --tw-border-opacity: 1;
    border-color: rgba(191, 184, 204, var(--tw-border-opacity));
}

.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgba(251, 250, 252, var(--tw-border-opacity));
}

.border-primary-600 {
    --tw-border-opacity: 1;
    border-color: rgba(224, 89, 0, var(--tw-border-opacity));
}

.border-gray-600 {
    --tw-border-opacity: 1;
    border-color: rgba(145, 135, 161, var(--tw-border-opacity));
}

.border-gray-800 {
    --tw-border-opacity: 1;
    border-color: rgba(106, 95, 122, var(--tw-border-opacity));
}

.bg-indigo-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(79, 70, 229, var(--tw-bg-opacity));
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgba(247, 245, 250, var(--tw-bg-opacity));
}

.bg-red-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(254, 226, 226, var(--tw-bg-opacity));
}

.bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(219, 234, 254, var(--tw-bg-opacity));
}

.bg-green-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(209, 250, 229, var(--tw-bg-opacity));
}

.bg-yellow-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(254, 243, 199, var(--tw-bg-opacity));
}

.bg-indigo-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(224, 231, 255, var(--tw-bg-opacity));
}

.bg-purple-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(237, 233, 254, var(--tw-bg-opacity));
}

.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(251, 250, 252, var(--tw-bg-opacity));
}

.bg-transparent {
    background-color: transparent;
}

.bg-gray-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(145, 135, 161, var(--tw-bg-opacity));
}

.bg-gray-400 {
    --tw-bg-opacity: 1;
    background-color: rgba(223, 218, 232, var(--tw-bg-opacity));
}

.bg-green-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(5, 150, 105, var(--tw-bg-opacity));
}

.bg-gray-300 {
    --tw-bg-opacity: 1;
    background-color: rgba(241, 237, 247, var(--tw-bg-opacity));
}

.fill-current {
    fill: currentColor;
}

.stroke-current {
    stroke: currentColor;
}

.object-contain {
    -o-object-fit: contain;
    object-fit: contain;
}

.p-5 {
    padding: 1.25rem;
}

.p-10 {
    padding: 2.5rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-4 {
    padding: 1rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-2\.5 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.py-0\.5 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.pl-0 {
    padding-left: 0;
}

.pb-3 {
    padding-bottom: 0.75rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pl-4 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 0.5rem;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.pt-10 {
    padding-top: 2.5rem;
}

.pt-5 {
    padding-top: 1.25rem;
}

.pb-10 {
    padding-bottom: 2.5rem;
}

.pb-6 {
    padding-bottom: 1.5rem;
}

.pl-10 {
    padding-left: 2.5rem;
}

.pb-20 {
    padding-bottom: 5rem;
}

.pt-6 {
    padding-top: 1.5rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.pb-5 {
    padding-bottom: 1.25rem;
}

.pr-6 {
    padding-right: 1.5rem;
}

.pl-3 {
    padding-left: 0.75rem;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pl-6 {
    padding-left: 1.5rem;
}

.pt-3 {
    padding-top: 0.75rem;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.align-middle {
    vertical-align: middle;
}

.font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        Liberation Mono, Courier New, monospace;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.font-bold {
    font-weight: 700;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-extralight {
    font-weight: 200;
}

.font-black {
    font-weight: 900;
}

.font-normal {
    font-weight: 400;
}

.font-extrabold {
    font-weight: 800;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.leading-4 {
    line-height: 1rem;
}

.leading-tight {
    line-height: 1.25;
}

.leading-5 {
    line-height: 1.25rem;
}

.tracking-wider {
    letter-spacing: 0.05em;
}

.tracking-tight {
    letter-spacing: -0.025em;
}

.tracking-wide {
    letter-spacing: 0.025em;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-red-300 {
    --tw-text-opacity: 1;
    color: rgba(252, 165, 165, var(--tw-text-opacity));
}

.text-primary-600 {
    --tw-text-opacity: 1;
    color: rgba(224, 89, 0, var(--tw-text-opacity));
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgba(69, 60, 82, var(--tw-text-opacity));
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgba(191, 184, 204, var(--tw-text-opacity));
}

.text-gray-1000 {
    --tw-text-opacity: 1;
    color: rgba(31, 41, 55, var(--tw-text-opacity));
}

.text-indigo-500 {
    --tw-text-opacity: 1;
    color: rgba(99, 102, 241, var(--tw-text-opacity));
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgba(145, 135, 161, var(--tw-text-opacity));
}

.text-black {
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.text-purple-500 {
    --tw-text-opacity: 1;
    color: rgba(139, 92, 246, var(--tw-text-opacity));
}

.text-red-500 {
    --tw-text-opacity: 1;
    color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.text-green-500 {
    --tw-text-opacity: 1;
    color: rgba(16, 185, 129, var(--tw-text-opacity));
}

.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
}

.text-pink-500 {
    --tw-text-opacity: 1;
    color: rgba(236, 72, 153, var(--tw-text-opacity));
}

.text-indigo-900 {
    --tw-text-opacity: 1;
    color: rgba(49, 46, 129, var(--tw-text-opacity));
}

.text-gray-1200 {
    --tw-text-opacity: 1;
    color: rgba(25, 32, 48, var(--tw-text-opacity));
}

.text-green-600 {
    --tw-text-opacity: 1;
    color: rgba(5, 150, 105, var(--tw-text-opacity));
}

.text-red-600 {
    --tw-text-opacity: 1;
    color: rgba(220, 38, 38, var(--tw-text-opacity));
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgba(125, 114, 143, var(--tw-text-opacity));
}

.text-indigo-600 {
    --tw-text-opacity: 1;
    color: rgba(79, 70, 229, var(--tw-text-opacity));
}

.text-gray-200 {
    --tw-text-opacity: 1;
    color: rgba(247, 245, 250, var(--tw-text-opacity));
}

.text-primary-500 {
    --tw-text-opacity: 1;
    color: rgba(253, 100, 0, var(--tw-text-opacity));
}

.text-secondary-400 {
    --tw-text-opacity: 1;
    color: rgba(138, 87, 219, var(--tw-text-opacity));
}

.text-indigo-800 {
    --tw-text-opacity: 1;
    color: rgba(55, 48, 163, var(--tw-text-opacity));
}

.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgba(106, 95, 122, var(--tw-text-opacity));
}

.text-secondary-500 {
    --tw-text-opacity: 1;
    color: rgba(100, 54, 176, var(--tw-text-opacity));
}

.text-blue-600 {
    --tw-text-opacity: 1;
    color: rgba(37, 99, 235, var(--tw-text-opacity));
}

.text-indigo-700 {
    --tw-text-opacity: 1;
    color: rgba(67, 56, 202, var(--tw-text-opacity));
}

.text-secondary-600 {
    --tw-text-opacity: 1;
    color: rgba(77, 30, 155, var(--tw-text-opacity));
}

.text-red-800 {
    --tw-text-opacity: 1;
    color: rgba(153, 27, 27, var(--tw-text-opacity));
}

.underline {
    text-decoration: underline;
}

.placeholder-gray-600::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgba(145, 135, 161, var(--tw-placeholder-opacity));
}

.placeholder-gray-600:-ms-input-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgba(145, 135, 161, var(--tw-placeholder-opacity));
}

.placeholder-gray-600::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgba(145, 135, 161, var(--tw-placeholder-opacity));
}

.opacity-80 {
    opacity: 0.8;
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.shadow-lg,
.shadow-sm {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
        var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.shadow,
.shadow-md {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
        var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.filter {
    --tw-blur: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-brightness: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-contrast: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-grayscale: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-hue-rotate: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-invert: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-saturate: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-sepia: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-drop-shadow: var(--tw-empty,
            /*!*/
            /*!*/
        );
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur {
    --tw-blur: blur(8px);
}

.transition-height {
    transition-property: height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.transition-shadow {
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.duration-300 {
    transition-duration: 0.3s;
}

.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visited\:text-purple-600:visited {
    --tw-text-opacity: 1;
    color: rgba(124, 58, 237, var(--tw-text-opacity));
}

.hover\:border-gray-400:hover {
    --tw-border-opacity: 1;
    border-color: rgba(223, 218, 232, var(--tw-border-opacity));
}

.hover\:bg-indigo-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(67, 56, 202, var(--tw-bg-opacity));
}

.hover\:bg-indigo-800:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(55, 48, 163, var(--tw-bg-opacity));
}

.hover\:bg-gray-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(251, 250, 252, var(--tw-bg-opacity));
}

.hover\:bg-white:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.hover\:bg-gray-400:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(223, 218, 232, var(--tw-bg-opacity));
}

.hover\:bg-gray-300:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(241, 237, 247, var(--tw-bg-opacity));
}

.hover\:text-primary-800:hover {
    --tw-text-opacity: 1;
    color: rgba(158, 63, 0, var(--tw-text-opacity));
}

.hover\:text-secondary-600:hover {
    --tw-text-opacity: 1;
    color: rgba(77, 30, 155, var(--tw-text-opacity));
}

.hover\:text-gray-900:hover {
    --tw-text-opacity: 1;
    color: rgba(69, 60, 82, var(--tw-text-opacity));
}

.hover\:text-indigo-600:hover {
    --tw-text-opacity: 1;
    color: rgba(79, 70, 229, var(--tw-text-opacity));
}

.hover\:text-gray-700:hover {
    --tw-text-opacity: 1;
    color: rgba(125, 114, 143, var(--tw-text-opacity));
}

.hover\:opacity-60:hover {
    opacity: 0.6;
}

.hover\:shadow-xl:hover {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.hover\:shadow-lg:hover,
.hover\:shadow-xl:hover {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
        var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.hover\:shadow-lg:hover {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.focus\:shadow-xl:focus {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
        var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.focus\:ring-2:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.focus\:ring-1:focus,
.focus\:ring-2:focus {
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 transparent);
}

.focus\:ring-1:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.focus\:ring-indigo-500:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(99, 102, 241, var(--tw-ring-opacity));
}

.focus\:ring-offset-2:focus {
    --tw-ring-offset-width: 2px;
}

.dark .dark\:divide-gray-900> :not([hidden])~ :not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: rgba(69, 60, 82, var(--tw-divide-opacity));
}

.dark .dark\:border-gray-900 {
    --tw-border-opacity: 1;
    border-color: rgba(69, 60, 82, var(--tw-border-opacity));
}

.dark .dark\:border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgba(241, 237, 247, var(--tw-border-opacity));
}

.dark .dark\:border-indigo-300 {
    --tw-border-opacity: 1;
    border-color: rgba(165, 180, 252, var(--tw-border-opacity));
}

.dark .dark\:border-gray-800 {
    --tw-border-opacity: 1;
    border-color: rgba(106, 95, 122, var(--tw-border-opacity));
}

.dark .dark\:bg-gray-1200 {
    --tw-bg-opacity: 1;
    background-color: rgba(25, 32, 48, var(--tw-bg-opacity));
}

.dark .dark\:bg-indigo-800 {
    --tw-bg-opacity: 1;
    background-color: rgba(55, 48, 163, var(--tw-bg-opacity));
}

.dark .dark\:bg-gray-1000 {
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}

.dark .dark\:bg-gray-1100 {
    --tw-bg-opacity: 1;
    background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
}

.dark .dark\:bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgba(69, 60, 82, var(--tw-bg-opacity));
}

.dark .dark\:bg-gray-1300 {
    --tw-bg-opacity: 1;
    background-color: rgba(19, 26, 41, var(--tw-bg-opacity));
}

.dark .dark\:bg-green-600 {
    --tw-bg-opacity: 1;
    background-color: rgba(5, 150, 105, var(--tw-bg-opacity));
}

.dark .dark\:text-gray-200 {
    --tw-text-opacity: 1;
    color: rgba(247, 245, 250, var(--tw-text-opacity));
}

.dark .dark\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgba(223, 218, 232, var(--tw-text-opacity));
}

.dark .dark\:text-gray-100 {
    --tw-text-opacity: 1;
    color: rgba(251, 250, 252, var(--tw-text-opacity));
}

.dark .dark\:text-primary-400 {
    --tw-text-opacity: 1;
    color: rgba(246, 144, 77, var(--tw-text-opacity));
}

.dark .dark\:text-gray-600 {
    --tw-text-opacity: 1;
    color: rgba(145, 135, 161, var(--tw-text-opacity));
}

.dark .dark\:text-gray-300 {
    --tw-text-opacity: 1;
    color: rgba(241, 237, 247, var(--tw-text-opacity));
}

.dark .dark\:text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.dark .dark\:text-gray-500 {
    --tw-text-opacity: 1;
    color: rgba(191, 184, 204, var(--tw-text-opacity));
}

.dark .dark\:text-primary-500 {
    --tw-text-opacity: 1;
    color: rgba(253, 100, 0, var(--tw-text-opacity));
}

.dark .dark\:text-primary-200 {
    --tw-text-opacity: 1;
    color: rgba(249, 219, 193, var(--tw-text-opacity));
}

.dark .dark\:text-gray-50 {
    --tw-text-opacity: 1;
    color: rgba(249, 250, 251, var(--tw-text-opacity));
}

.dark .dark\:text-primary-300 {
    --tw-text-opacity: 1;
    color: rgba(247, 189, 141, var(--tw-text-opacity));
}

.dark .dark\:text-red-300 {
    --tw-text-opacity: 1;
    color: rgba(252, 165, 165, var(--tw-text-opacity));
}

.dark .dark\:text-secondary-200 {
    --tw-text-opacity: 1;
    color: rgba(208, 186, 242, var(--tw-text-opacity));
}

.dark .dark\:placeholder-gray-500::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgba(191, 184, 204, var(--tw-placeholder-opacity));
}

.dark .dark\:placeholder-gray-500:-ms-input-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgba(191, 184, 204, var(--tw-placeholder-opacity));
}

.dark .dark\:placeholder-gray-500::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgba(191, 184, 204, var(--tw-placeholder-opacity));
}

.dark .dark\:hover\:bg-indigo-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(79, 70, 229, var(--tw-bg-opacity));
}

.dark .dark\:hover\:bg-gray-1200:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(25, 32, 48, var(--tw-bg-opacity));
}

.dark .dark\:hover\:bg-gray-1000:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}

.dark .dark\:hover\:text-primary-500:hover {
    --tw-text-opacity: 1;
    color: rgba(253, 100, 0, var(--tw-text-opacity));
}

.dark .dark\:hover\:text-gray-50:hover {
    --tw-text-opacity: 1;
    color: rgba(249, 250, 251, var(--tw-text-opacity));
}

@media (min-width: 640px) {
    .sm\:-mx-6 {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }

    .sm\:mt-0 {
        margin-top: 0;
    }

    .sm\:ml-4 {
        margin-left: 1rem;
    }

    .sm\:mb-0 {
        margin-bottom: 0;
    }

    .sm\:block {
        display: block;
    }

    .sm\:inline {
        display: inline;
    }

    .sm\:flex {
        display: flex;
    }

    .sm\:hidden {
        display: none;
    }

    .sm\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .sm\:rounded-lg {
        border-radius: 0.5rem;
    }

    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .sm\:text-right {
        text-align: right;
    }
}

@media (min-width: 768px) {
    .md\:m-5 {
        margin: 1.25rem;
    }

    .md\:mx-10 {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .md\:mx-6 {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .md\:mx-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .md\:my-0 {
        margin-bottom: 0;
    }

    .md\:mt-0,
    .md\:my-0 {
        margin-top: 0;
    }

    .md\:mr-auto {
        margin-right: auto;
    }

    .md\:ml-6 {
        margin-left: 1.5rem;
    }

    .md\:ml-auto {
        margin-left: auto;
    }

    .md\:block {
        display: block;
    }

    .md\:flex {
        display: flex;
    }

    .md\:hidden {
        display: none;
    }

    .md\:h-64 {
        height: 16rem;
    }

    .md\:w-3\/4 {
        width: 75%;
    }

    .md\:w-auto {
        width: auto;
    }

    .md\:w-1\/2 {
        width: 50%;
    }

    .md\:w-1 {
        width: 0.25rem;
    }

    .md\:w-4\/6 {
        width: 66.666667%;
    }

    .md\:w-1\/6 {
        width: 16.666667%;
    }

    .md\:w-min {
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
    }

    .md\:w-14 {
        width: 3.5rem;
    }

    .md\:flex-row {
        flex-direction: row;
    }

    .md\:items-center {
        align-items: center;
    }

    .md\:justify-center {
        justify-content: center;
    }

    .md\:space-x-8> :not([hidden])~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(2rem * var(--tw-space-x-reverse));
        margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
    }

    .md\:p-4 {
        padding: 1rem;
    }

    .md\:p-0 {
        padding: 0;
    }

    .md\:py-20 {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .md\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .md\:py-8 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .md\:px-3 {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .md\:py-2 {
        padding-top: 0.5rem;
    }

    .md\:pb-2,
    .md\:py-2 {
        padding-bottom: 0.5rem;
    }

    .md\:pb-10 {
        padding-bottom: 2.5rem;
    }

    .md\:pb-1 {
        padding-bottom: 0.25rem;
    }

    .md\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .md\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .md\:text-9xl {
        font-size: 8rem;
        line-height: 1;
    }

    .md\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .md\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}

@media (min-width: 1024px) {
    .lg\:prose-xl {
        font-size: 1.25rem;
        line-height: 1.8;
    }

    .lg\:prose-xl p {
        margin-top: 1.2em;
        margin-bottom: 1.2em;
    }

    .lg\:prose-xl [class~="lead"] {
        font-size: 1.2em;
        line-height: 1.5;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .lg\:prose-xl blockquote {
        margin-top: 1.6em;
        margin-bottom: 1.6em;
        padding-left: 1.0666667em;
    }

    .lg\:prose-xl h1 {
        font-size: 2.8em;
        margin-top: 0;
        margin-bottom: 0.8571429em;
        line-height: 1;
    }

    .lg\:prose-xl h2 {
        font-size: 1.8em;
        margin-top: 1.5555556em;
        margin-bottom: 0.8888889em;
        line-height: 1.1111111;
    }

    .lg\:prose-xl h3 {
        font-size: 1.5em;
        margin-top: 1.6em;
        margin-bottom: 0.6666667em;
        line-height: 1.3333333;
    }

    .lg\:prose-xl h4 {
        margin-top: 1.8em;
        margin-bottom: 0.6em;
        line-height: 1.6;
    }

    .lg\:prose-xl figure,
    .lg\:prose-xl img,
    .lg\:prose-xl video {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .lg\:prose-xl figure>* {
        margin-top: 0;
        margin-bottom: 0;
    }

    .lg\:prose-xl figure figcaption {
        font-size: 0.9em;
        line-height: 1.5555556;
        margin-top: 1em;
    }

    .lg\:prose-xl code {
        font-size: 0.9em;
    }

    .lg\:prose-xl h2 code {
        font-size: 0.8611111em;
    }

    .lg\:prose-xl h3 code {
        font-size: 0.9em;
    }

    .lg\:prose-xl pre {
        font-size: 0.9em;
        line-height: 1.7777778;
        margin-top: 2em;
        margin-bottom: 2em;
        border-radius: 0.5rem;
        padding: 1.1111111em 1.3333333em;
    }

    .lg\:prose-xl ol,
    .lg\:prose-xl ul {
        margin-top: 1.2em;
        margin-bottom: 1.2em;
    }

    .lg\:prose-xl li {
        margin-top: 0.6em;
        margin-bottom: 0.6em;
    }

    .lg\:prose-xl ol>li {
        padding-left: 1.8em;
    }

    .lg\:prose-xl ol>li:before {
        left: 0;
    }

    .lg\:prose-xl ul>li {
        padding-left: 1.8em;
    }

    .lg\:prose-xl ul>li:before {
        width: 0.35em;
        height: 0.35em;
        top: calc(0.9em - 0.175em);
        left: 0.25em;
    }

    .lg\:prose-xl>ul>li p {
        margin-top: 0.8em;
        margin-bottom: 0.8em;
    }

    .lg\:prose-xl>ul>li> :first-child {
        margin-top: 1.2em;
    }

    .lg\:prose-xl>ul>li> :last-child {
        margin-bottom: 1.2em;
    }

    .lg\:prose-xl>ol>li> :first-child {
        margin-top: 1.2em;
    }

    .lg\:prose-xl>ol>li> :last-child {
        margin-bottom: 1.2em;
    }

    .lg\:prose-xl ol ol,
    .lg\:prose-xl ol ul,
    .lg\:prose-xl ul ol,
    .lg\:prose-xl ul ul {
        margin-top: 0.8em;
        margin-bottom: 0.8em;
    }

    .lg\:prose-xl hr {
        margin-top: 2.8em;
        margin-bottom: 2.8em;
    }

    .lg\:prose-xl h2+*,
    .lg\:prose-xl h3+*,
    .lg\:prose-xl h4+*,
    .lg\:prose-xl hr+* {
        margin-top: 0;
    }

    .lg\:prose-xl table {
        font-size: 0.9em;
        line-height: 1.5555556;
    }

    .lg\:prose-xl thead th {
        padding-right: 0.6666667em;
        padding-bottom: 0.8888889em;
        padding-left: 0.6666667em;
    }

    .lg\:prose-xl thead th:first-child {
        padding-left: 0;
    }

    .lg\:prose-xl thead th:last-child {
        padding-right: 0;
    }

    .lg\:prose-xl tbody td {
        padding: 0.8888889em 0.6666667em;
    }

    .lg\:prose-xl tbody td:first-child {
        padding-left: 0;
    }

    .lg\:prose-xl tbody td:last-child {
        padding-right: 0;
    }

    .lg\:prose-xl> :first-child {
        margin-top: 0;
    }

    .lg\:prose-xl> :last-child {
        margin-bottom: 0;
    }

    .lg\:-mx-8 {
        margin-left: -2rem;
        margin-right: -2rem;
    }

    .lg\:h-64 {
        height: 16rem;
    }

    .lg\:w-full {
        width: 100%;
    }

    .lg\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .lg\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media (min-width: 1280px) {
    .xl\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    .xl\:text-5xl {
        font-size: 3rem;
        line-height: 1;
    }
}

@media (min-width: 520px) {
    .xs\:m-3 {
        margin: 0.75rem;
    }

    .xs\:my-0 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .xs\:block {
        display: block;
    }

    .xs\:w-auto {
        width: auto;
    }

    .xs\:w-3\/4 {
        width: 75%;
    }

    .xs\:flex-row {
        flex-direction: row;
    }

    .xs\:flex-col {
        flex-direction: column;
    }

    .xs\:items-end {
        align-items: flex-end;
    }

    .xs\:justify-between {
        justify-content: space-between;
    }

    .xs\:space-x-2> :not([hidden])~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(0.5rem * var(--tw-space-x-reverse));
        margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
    }

    .xs\:pr-10 {
        padding-right: 2.5rem;
    }

    .xs\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .xs\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}

button:focus {
    outline: none;
}

.error_404_letter .txt404 {
    font-family: poppins, sans-serif;
    font-size: 300px;
    color: #000;
    font-weight: 700;
    height: 300px;
    display: flex;
    align-items: center;
}

.virusImg {
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

@-webkit-keyframes spin {
    to {
        transform-origin: center;
        -webkit-transform: rotate(1turn);
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
        transform-origin: center;
        transform: rotate(1turn);
    }
}

pre {
    background: none !important;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(165, 180, 252, var(--tw-border-opacity));
}

code {
    --tw-text-opacity: 1 !important;
    color: rgba(99, 102, 241, var(--tw-text-opacity)) !important;
}

 
